//--------------Fonts-------------
$fontA: "product sans", sans-serif;
$fontB: "montserrat", sans-serif;
$fontC: "Roboto", sans-serif;

//-------------Colors-------------

$whiteA: #FAFAFA;
$whiteB: #F5F5F5;

$blue: #0090FF;

$textColor: #28333B;

