@import "var";
@import "colors";
*{
    box-sizing: border-box;   
    font-family: $fontC;
}
body{
    background-color: #FAFAFA;
    margin: 0;

}
@import "grid";
.row{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    min-width: 1000px;
    margin: 0 auto;
}



.logo-small{
    width: 150px;
    text-align: center;
    margin: 0 auto;
}
.today-list{
    margin-top: 20px;
}
.today-list a{
    text-decoration: none;
    color: #28333B;
    font-weight: 300;
    padding: 6px 20px 6px 30px;
    display: table;
    font-family: 'roboto', sans-serif;

}
.today-list a:hover{
    background-color: #2D8BDE;
    border-radius: 0px 60px 60px 0px;
    color: #F5F5F5;
}
.today-list button{
    width: 200px;
    
}
.add-list-form{
    text-align: center;
    margin-top: 10px;
}
.add-list-form input[type=text]{
    height: 35px;
    font-weight: 300;
    background-color: #FAFAFA;
    padding: 10px 40px 10px 10px;
    border: none;
    border-radius: 4px;
    outline: none;
    transition: box-shadow 0.2s ease-in-out;
    width: 220px;
    font-family: 'roboto', sans-serif;
}
.add-list-form input[type=text]:focus{
    box-shadow: 0px 0px 0px 2px #00D1A6 ;
    transition: box-shadow 0.2s ease-in-out;

}
.add-list-form input[type=image]{
    width: 35px;
    height: 35px;
    padding: 0;
    border: none;
    outline: none;
    margin-left: -40px;
    position: relative;
    top: 12px;
}
.team-name{
    text-align: right;
    margin: 0px 20px;
    font-family: 'roboto', sans-serif;
    font-style: italic;
}
.list-name{
    font-size: large;
    font-family: 'roboto', sans-serif;
    font-style: italic;
    margin: 0;
}

fieldset{
    border-bottom: none;
    border-left: none;
    border-right: none;
    padding-left: 20px;
}
legend{
    padding: 10px;
}
.inner-list a{
    background-color: #f5f5f5;
    font-family: 'roboto', sans-serif;
    font-weight: 300;
    padding: 12px 16px;
    color: #28333B;
    text-decoration: none;
    border-radius: 6px;
}
.inner-list a:hover{
    background-color: #0090ff;
    color: #fff;
}
.inner-list button{
    background-color: #f5f5f5;
    font-family: 'roboto', sans-serif;
    font-weight: 300;
    padding: 12px 16px;
    color: #28333B;
    text-decoration: none;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    outline: none;
}
.inner-list button:hover{
    background-color: #0090ff;
    color: #fff;
}
.inner-list input[type='text']{
    background-color: #f5f5f5;
    font-family: 'roboto', sans-serif;
    font-weight: 300;
    width: 100px;
    padding: 12px 16px;
    color: #28333B;
    text-decoration: none;
    border-radius: 6px;
    border: none;
    outline: none;
}
.inner-list
#bg-blue{
    background-color: #0090ff;
    color: #fff;
}
#bg-red{
    background-color: #ff2e59;
    color: #fff;
}
#bg-green{
    background-color: #00a388;
    color: #fff;
}
#bg-light-green{
    background-color: #00D1A6;
    color: #fff;
}
#bg-yellow{
    background-color: #FFA200;
    color: #fff;
}
.align-right{
    text-align: right;
}
.main-table{
    width: 100%;
    font-family: 'roboto', sans-serif;
    font-size: 14px;    
}
.main-table tr td{
    background-color: #f5f5f5;
    text-align: center;
    height: 40px;

}
.main-table tr td input[type = 'text']{
    width: 100%;
    height: 100%;
    text-align: center;
    font-weight: 600;
    outline: none;
    border: none;
    background-color: #f5f5f5;
}
.main-table tr td input[type = 'date']{
    background-color: #f5f5f5;
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    padding: 10px;
}
.main-table tr td:hover{
    background-color: #eee;
}
.main-table tr td select{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    margin: 0;
    background-color: #f5f5f5;
    padding: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}
.main-table tr td select:hover{
    background-color: #eee;
}
.main-table tr td option{
    text-align: center;
}
.margin-top-50{
    margin-top: 50px;
}
.chat-button{
    background-image: url('../icons/chat.svg');
    background-color: #f5f5f5;
    width: 30px;
    height: 30px;
    border: none;
    outline: none;
    cursor: pointer;   
}
.chat-button:hover{
    background-color: #eee;
}
.main-table tr td:last-child{
    padding: 0;
}
.statistic-info .card{
    text-align: center;
    background-color: #FAFAFA;
    margin: 10px;
    padding: 0;
    border: solid 1px #ECECEC;
    font-style: italic;
    border-radius: 10px;
}
.add-button{
    width: 100%;
    border: none;
    padding: 10px;
    background-color: #f5f5f5;
    font-size: large;
    outline: none;
}
.add-button:hover{
    background-color: #eee;

}
.card-name{
    padding: 10px;
    background-color: #F5F5F5;
    border-radius: 10px 10px 0px 0px;
}
.card-info{
    text-align: left;
    font-weight: 300;
    padding: 10px;
    background-color: #FAFAFA;
}
.card-info p{
    margin: 6px;
}
.card-info h1{
    text-align: center;
    font-weight: 400;
    font-size: 50px;
}
.selectWed {
    background: red;

}

.selectB {
    background: orange;
}
.thead-dark tr td{
    background-color: #28333B;
    color: #f5f5f5;
}
.thead-dark tr td:hover{
    background-color: #28333B;
    color: #f5f5f5;

}
.main-table thead tr td{
    background-color: #eee;
}
thead tr td:first-child{
    border-radius: 10px 0px 0px 0px;
}
thead tr td:last-child{
    border-radius: 0px 10px 0px 0px;
}