@import "var";
@import "colors";

* {
    box-sizing: border-box;
    font-family: $fontC;
}

body {
    background-color: #FAFAFA;
    margin: 0;

}

@import "grid";

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    min-width: 1000px;
}

.main-aside {
    width: 250px;
    min-height: 100vh;
    background-color: $whiteB;
    padding: 10px 0px;
}

.main-content {
    width: calc(100% - 250px);
    background-color: $whiteA;
    min-height: 100vh;
    padding: 10px;
}

.logo {
    text-align: center;

    img {
        width: 160px;
    }
}

.aside-list {
    margin-top: 20px;

    ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {

            padding: 6px 20px 6px 0px;
            
        }
        .dropdown-menu{
            position: absolute;
            padding: 10px;
            width: 220px;
            margin-top: 25px;
            margin-left: 20px;
            background-color: $whiteA;
            border-radius: 10px;
            box-shadow: 0px 0px 60px -30px #888;
            div{
                cursor: pointer;
                font-size: smaller;
                background-color: $whiteB;
                padding: 10px;
                margin-top: 1px;
            }
        }
    }

    a {
        text-decoration: none;
        color: #28333B;
        font-weight: 300;
        padding: 6px 20px 6px 30px;
        margin-bottom: 2px;
        font-family: 'roboto', sans-serif;
    
        &:hover {
            background-color: $blue;
            color: $whiteA;
            border-radius: 0px 35px 35px 0px;
        }

    }
}

.add-list {
    margin-top: 10px;
    display: flex;
    justify-content: center;

    input[type=text] {
        background-color: $whiteA;
        border: none;
        outline: none;
        border-radius: 6px 0px 0px 6px;
        padding: 0px 10px;
        transition: all 200ms ease;
    }

    button {
        padding: 4px;
        background: url('../icons/add\ button.svg');
        background-size: auto;
        background-repeat: no-repeat;
        width: 30px;
        height: 30px;
        outline: none;
        border: none;
    }
}

.card {
    background-color: #fff;
    padding: 10px;
    transition: box-shadow 200ms ease;

    &:hover {
        box-shadow: 0px 0px 30px -10px #888;
        position: relative;
    }
}

@media (max-width: 600px) {
    .row {
        min-width: auto;
    }

    .main-aside {
        width: 100%;
        min-height: auto;

    }

    .aside-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        a {
            padding: 4px 10px;

            &:hover {
                border-radius: 4px;
            }
        }
    }

    .add-list {
        input {
            width: 80%;
        }
    }

    .main-content {
        min-height: auto;
        width: 100%;
    }

    .card {
        width: 100%;
    }
}

.flex-start {
    justify-content: start;
}

.flex-center {
    justify-content: center;
}

.inline-nav {
    margin-bottom: 10px;

    a,
    button {
        padding: 10px;
        background-color: $whiteB;
        color: $textColor;
        text-decoration: none;
        font-weight: 300;
        margin: 2px;
        border: none;
        border-radius: 6px;

        &:hover {
            background-color: $blue;
            color: $whiteA;
        }
    }

    button {
        width: 40px;
        cursor: pointer;
    }
}

fieldset {
    width: 100%;
    border: none;
    border-top: solid 1px $textColor;

    legend {
        padding: 10px;
        font-size: x-large;
        font-style: italic;
        font-weight: 300;
    }
}




@import "table";

@import "icons";