@import "var";
@import "colors";
*{
    box-sizing: border-box;   
    font-family: $fontC;
}
body{
    background-color: #FAFAFA;
    margin: 0;

}
@import "grid";
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    min-width: 1000px;
}
.main-aside{
    width: 250px;
    height: 100vh;
    background-color: $whiteB;
    padding: 10px 0px;
}
.main-content{
    width: calc(100% - 250px);
    background-color: $whiteA;
    height: 100vh;
    padding: 10px;
}
.logo{
    text-align: center;
    img{
        width: 150px;
    }
}
.aside-list{
    a{
        display: table;

        &:hover{
            background-color: $blue;
        }
    }
}